# -----------------------------------------------------------------------------
# Dependencies
# -----------------------------------------------------------------------------

node_modules/
dist/

# -----------------------------------------------------------------------------
# Environment
# -----------------------------------------------------------------------------

.env
.env.*

# -----------------------------------------------------------------------------
# IDE
# -----------------------------------------------------------------------------

.vscode/
.idea/

# -----------------------------------------------------------------------------
# macOS
# -----------------------------------------------------------------------------

.DS_Store

# -----------------------------------------------------------------------------
# Logs
# -----------------------------------------------------------------------------

*.log

# -----------------------------------------------------------------------------
# Tooling
# -----------------------------------------------------------------------------

.tools/
